<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/EmpathicTest/src/cl/automind/empathy/test/DeskMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cl.automind.empathy.test.DeskMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="EmpathicTest"/>
</launchConfiguration>
